snippet klg "console.log"
console.log('kz -> ${1}', ${2});
endsnippet

snippet kaf "Anonymous function"
(${1}) => {${2}};
endsnippet

snippet imp "import X from Y" b
import {${2}} from '${1}';
endsnippet

snippet kcomp "React component boilerplate" b
import React from 'react';

const ${1} = () => {
	return <div></div>;
}

export default ${1};

endsnippet
